$mobile: 375px;
$mobile-large: 768px;
$tablet: 1024px;
$desktop: 1440px;

@mixin mobile-only {
    @media (max-width: ($mobile - 1)) {
        @content;
    }
}

@mixin mobile-large {
    @media (min-width: $mobile-large) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}

@mixin hover {
    @media (hover: hover) and (pointer: fine) {
        &:hover {
        @content;}
    }
}

html {
    font-size: 1px;

    @include tablet() {
        font-size: calc(100vw / 1440);
    }

    @include desktop {
        font-size: 1px;
    }
}
