@mixin fs-nav-title {
	@include thunder-semi-bold;
	font-size: 18rem;
	line-height: 100%;
	letter-spacing: 0.05em;
    text-transform: uppercase;
	color: $black;

	@include tablet {
		font-size: 18rem;
	}

	@include desktop {
		font-size: 30rem;
	}
}
.fs-nav-title{
	@include fs-nav-title;
}

@mixin fs-h1 {
	@include thunder-bold;
	font-size: 16rem;
	line-height: 100%;
	letter-spacing: 0.05em;
    text-transform: uppercase;

	@include tablet {
		font-size: 18rem;
	}

	@include desktop {
		font-size: 22rem;
	}
}
.fs-h1 {
	@include fs-h1;
}

@mixin fs-h2 {
    @include thunder-bold;
	font-size: 16rem;
	line-height: 100%;
	letter-spacing: 0;
    text-transform: uppercase;

	@include tablet {
		font-size: 18rem;
	}

	@include desktop {
		font-size: 50rem;
	}
}
.fs-h2 {
	@include fs-h2;
}

@mixin fs-article-title {
    @include thunder-bold;
	font-size: 60rem;
	// line-height: 100%;
	letter-spacing: 0;
    text-transform: uppercase;
	color: #A81B1C;

	@include tablet {
		font-size: 18rem;
	}

	@include desktop {
		font-size: 90rem;
	}
}
.fs-article-title{
	@include fs-article-title;
}

@mixin fs-article-category {
    @include thunder-bold;
	font-size: 40rem;
	line-height: 100%;
	letter-spacing: 0.05em;
    text-transform: uppercase;
	color: #022859;

	@include tablet {
		font-size: 18rem;
	}

	@include desktop {
		font-size: 35rem;
	}
}
.fs-article-category{
	@include fs-article-category;
}

@mixin fs-p {
	@include thunder-light;
    font-weight: 500;
	font-size: 18rem;
	line-height: 100%;
	letter-spacing: 0;
	// color: #202124;
	letter-spacing: 0.05em;

	@include tablet {
		font-size: 24rem;
	}

	@include desktop {
		font-size: 20rem;
	}
}
.fs-p {
	@include fs-p;
}

@mixin fs-caption {
	@include thunder-semi-bold;
	font-size: 16rem;
	line-height: 100%;
	letter-spacing: 0.05em;
    text-transform: uppercase;

	@include tablet {
		font-size: 18rem;
	}

	@include desktop {
		font-size: 18rem;
	}
}
.fs-caption{
	@include fs-caption;
}

@mixin fs-li-menu-mb {
	@include thunder-semi-bold;
	font-size: 24rem;
	line-height: 100%;
	letter-spacing: 0.05em;
    text-transform: uppercase;
}
.fs-li-menu-mb{
	@include fs-li-menu-mb;
}

@mixin fs-sub-li-menu-mb {
	@include thunder-light;
	font-size: 18rem;
	line-height: 100%;
	letter-spacing: 0.05em;
    text-transform: uppercase;
}
.fs-sub-li-menu-mb{
	@include fs-sub-li-menu-mb;
}