
  @font-face {
    font-family: 'Thunder Light';
    font-style: normal;
    src: local(''),
        url('assets/fonts/Thunder-LightLC.woff2') format('woff2'),
        url('assets/fonts/Thunder-LightLC.woff') format('woff')
  }

  @font-face {
    font-family: 'Thunder Semi Bold';
    font-style: normal;
    src: local(''),
        url('assets/fonts/Thunder-SemiBoldLC.woff2') format('woff2'),
        url('assets/fonts/Thunder-SemiBoldLC.woff') format('woff')
  }

  @font-face {
    font-family: 'Thunder Bold';
    font-style: normal;
    src: local(''),
        url('assets/fonts/Thunder-BoldLC.woff2') format('woff2'),
        url('assets/fonts/Thunder-BoldLC.woff') format('woff')
  }

  @font-face {
    font-family: 'Thunder Exra Bold';
    font-style: normal;
    src: local(''),
        url('assets/fonts/Thunder-ExtraBoldLC.woff2') format('woff2'),
        url('assets/fonts/Thunder-ExtraBoldLC.woff') format('woff')
  }

  @mixin thunder-light {
    font-family: 'Thunder Light';
  }

  @mixin thunder-semi-bold {
    font-family: 'Thunder Semi Bold';
  }

  @mixin thunder-bold {
    font-family: 'Thunder Bold';
  }

  @mixin thunder-extra-bold {
    font-family: 'Thunder Exra Bold';
  }
  